:root {
   --light-blue: rgb(163, 190, 199);
   --nav-bar: rgb(11, 68, 111);
   --main-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   --text-color: white;
   --body-color: rgb(32, 147, 210);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:var(--light-blue);
}
/* nav bar properties*/
header {
    padding: 20px;
    background: var(--nav-bar);
    color:var(--text-color);
    font-family: var(--main-font);
}

header h1 {
    display: inline-block;
    font-size: 40px;
}

ul {
    list-style-type: none;
}

nav {
    float: right;
    padding-top: 30px;
}

a {
color: var(--text-color);
text-decoration: none;

}

header ul li {
    display: inline-block;
    margin-left: 45px;

}

.self-sketch {
    max-height: 250px;
    max-width: 250px;
    display: inline;
    padding:10px;
}

section {
    width: 80%;
    background-color: var(--body-color);
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 15% 35px 15%
}


main {
    color: var(--text-color);
}

h2 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 50px;
   text-decoration: underline 4px var(--text-color);
}

.work {
    display: grid;
    grid-template-columns: repeat(4);
    grid-template-rows: repeat(4);
    grid-gap: 8px;
}

.work img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 10px;
}

.mock-up {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    text-align: center;
}

.study {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    position: relative;
    text-align: center;
}

.calculator {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    position: relative;
    text-align: center;
}

.work p {
    position: absolute;
    bottom: 14px;
    left: 10px;
    background: var(--body-color);
    padding:5px;
    border-radius: 0px 10px 0px 0px;
}

.contact ul {
    display: inline-block;
    margin-left: 20px;
}

ul a:hover {
    font-weight: bolder;
    font-size: 125%;
}

.work img:hover {
    opacity: 0.75;
}
