:root {
   --light-blue: rgb(163, 190, 199);
   --nav-bar: rgb(11, 68, 111);
   --main-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   --text-color: white;
   --body-color: rgb(32, 147, 210);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:var(--light-blue);
}

header {
    padding: 20px;
    background: var(--nav-bar);
    color:var(--text-color);
    font-family: var(--main-font);
}

header h1 {
    display: inline-block;
    font-size: 40px;
}

ul {
    list-style-type: none;
}

nav {
    float: right;
    padding-top: 30px;
}

a {
color: var(--text-color);
text-decoration: none;

}

header ul li {
    display: inline-block;
    margin-left: 45px;

}

section {
    width: 70%;
    background-color: var(--body-color);
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 15% 35px 15%
}

.self-sketch {
    float: right;
    max-height: 250px;
    max-width: 250px;
    display: inline;
    padding:10px;
}

main {
    color: var(--text-color);
}

h2 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 50px;
}

.pantry {
    max-width: 80%;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}

.calculator, .taco {
    max-width: 40%;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

